<div class="container wrapper">
    <div class="row">
        <!-- Issue table -->
        <div class="col-md-12">
            <div class="inner">
              <br>
                <h1 class="text-center">Available Courses</h1>
                <button mat-raised-button color="accent"  (click) = "open(content)">Create</button>
                <br>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Course Name</th>
                            <th scope="col">Course Description</th>
                            <th scope="col">Department</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of CourseList">
                            <td>{{course.courseId}}</td>
                            <td>{{course.courseName}}</td>
                            <td>{{course.courseDesc}}</td>
                            <td>{{course.courseDepartmentName}}</td>
                            <td>
                                <button mat-raised-button color="primary" (click)="openEdit(contentEdit, course)">Edit</button> <div class="divider"></div>
                                
                                <button mat-raised-button color="warn" (click)="deletecourse(course.courseId)">Delete</button>
      
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<br>

</div>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Course</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="courseForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <label for="courseName">Course Name</label>
          <div class="input-group mb-3">
            <input id="courseName" formControlName="courseName"  class="form-control" >
          </div>
        </div>
        <div class="form-group">
            <label for="courseDesc">Course Description</label>
            <div class="input-group mb-3">
              <input id="courseDesc" formControlName="courseDesc" class="form-control" >
            </div>
          </div>
         
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Department</label>
            </div>
              <select class="custom-select"  [(ngModel)]="courseDepartmentId" formControlName="courseDepartmentId" id="courseDepartmentName">
                  <option *ngFor="let department of DepartmentList" [value]="department.departmentId">
                    {{department.departmentName}}
                  </option>
                </select>
          </div>
          </div>
         
    
    

    <div class="modal-footer">
      <button data-dismiss="modal" class="btn btn-info"  type="submit" (click)="modal.close('Save click')">Submit</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  
    </div>
  </form>
</div>
  </ng-template>

  <!-- update form -->

  <ng-template #contentEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Course</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="onEdit(f)" novalidate>
 
 
            <div class="form-group">
                <label for="courseId">Course Id:</label>
                <div class="input-group mb-3">
                    <input [(ngModel)]="editForm.courseId" id="courseId" name="courseId" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="firstname">Course Name:</label>
                <div class="input-group mb-3">
                    <input id="courseName" [(ngModel)]="editForm.courseName" name="courseName" class="form-control">
                </div>
            </div>
 
            <div class="form-group">
                <label for="lastname">Course Desc:</label>
                <div class="input-group mb-3">
                    <input id="courseDesc" [(ngModel)]="editForm.courseDesc" name="courseDesc" class="form-control">
                </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Department</label>
                </div>
                  <select class="custom-select"  [(ngModel)]="editForm.courseDepartmentId" formControlName="courseDepartmentId" id="courseDepartmentName">
                      <option *ngFor="let department of DepartmentList" [value]="department.departmentId">
                        {{department.departmentDesc}}
                      </option>
                    </select>
              </div>
              </div>
 
            <div class="modal-footer">
                <button type="button" id="add-user-form" (click)="modal.close('Save click')" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                <!-- <button  (click)="modal.close('Save click')" type="submit" class="btn btn-primary">Save changes</button> -->
                <button [disabled]="f.invalid" (click)="modal.close('Save click')" data-dismiss="modal" class="btn btn-primary">Submit</button>
            </div>
 
 
 
 
        </form>
    </div>
  </ng-template>

