@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');
table {
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
h1{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Merriweather', serif;
  }