<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" >COURSE PLANNER</a>
    </div>
  </nav>
<div class="container">
    
    <ul ngbNav [activeId]="route.fragment | async" class="nav-tabs" >
        <li [ngbNavItem]="link.fragment" *ngFor="let link of links" >
          <a ngbNavLink [routerLink]="link.fragment" class="navTitle" >{{ link.title }}</a>
        </li>
      </ul>
        
    <router-outlet></router-outlet>
    
</div>
<br>
<br>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" >Course Planner</a>
    </div>
    <!-- Copyright -->
  </footer>
